@using ERP_Component_DAL.Models;
@{
    ViewBag.Title = "Edit Weaver";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";
}
<link rel="stylesheet" href="~/css/Product.css" />
@model Worker
<form asp-action="EditWorkerDetails" asp-controller="Weaver" method="post" enctype="multipart/form-data">
    <div class="form-section">
        <h3>Edit Worker</h3>
        <div class="form-row w-50">
          <label for="WorkerType" >Worker Type</label>
            <input type="text" name="WorkerType" id="WorkerType" value="@Model.WorkerType" readonly />
        </div>
        <div class="form-row">
            <input type="hidden" name="WorkerId" value="@Model.WorkerId" />
            <label class="required" for="WorkerName">Weaver Name</label>
            <input type="text" name="WorkerName" id="WeaverName" value="@Model.WorkerName" required />
            <label class="required" for="firm">Firm Name</label>
            <input type="text" name="firm" id="firm" value="@Model.Firm" required />
        </div>
        <div class="form-row">
            <label class="required" for="ContactNumber">Contact Number</label>
            <input type="text" name="ContactNumber" id="ContactNumber" value="@Model.ContactNumber" required />
            <label class="required" for="Email">Email</label>
            <input type="email" name="Email" id="Email" value="@Model.Email" required />
        </div>
        <div class="form-row">
            <label class="required" for="Address">Address</label>
            <input type="text" name="Address" id="Address" value="@Model.Address" required />
            <label class="required" for="City">City</label>
            <input type="text" name="City" id="City" value="@Model.City" required />
        </div>
        <div class="form-row">
            <label class="required" for="District">District</label>
            <input type="text" name="District" id="District" value="@Model.District" required />
            <label class="required" for="State">State</label>
            <input type="text" name="State" id="State"value="@Model.State" required />
        </div>
        <div class="form-row">
            <label class="required" for="Pincode">Pincode</label>
            <input type="text" name="Pincode" id="Pincode" value="@Model.Pincode" required />
            <label class="required" for="Country">Country</label>
            <input type="text" name="Country" id="Country" value="@Model.Country" required />
        </div>
        <div class="form-row">
            <label class="required" for="AadharNumber">Aadhar Number</label>
            <input type="text" name="AadharNumber" id="AadharNumber" value="@Model.AadharNumber" required />
            <label class="required" for="PANNumber">PAN Number</label>
            <input type="text" name="PANNumber" id="PANNumber" value="@Model.PANNumber" required />
        </div>
        <div class="form-row">
            <label class="required" for="docpancard">Photo of PAN:</label>
            <input type="file" name="DocPANCard" id="docpancard" accept="image/*" required />
            <label class="required" for="docaadhar">Photo of Aadhar:</label>
            <input type="file" name="DocAadhar" id="docaadhar" accept="image/*" required />
        </div>
        <div class="button">
            <button type="submit">Update Weaver</button>
        </div>
    </div>
</form>

