@using ERP_Component_DAL.Models;
@{
	ViewBag.Title = "Sales Return";
	Layout = "~/Views/Shared/_LayoutINV.cshtml";
}
<link rel="stylesheet" href="/css/Product.css" />


@model List<ReturnNote>

<div class="table">



	<table>
		<thead>
			<tr>
				<th>S.No.</th>
				<th>Product Name</th>
				<th>Status</th>
				<th>Quantity</th>
				<th>Return Quantity</th>
				<th>Recieved Date</th>

			</tr>
		</thead>



		<tbody id="geeks">


			@for (var i = 0; i < Model.Count; i++)
			{

				var x = Model[i];
				var index = i + 1;

					<tr>
						<td>@index</td>
						<td>@x.ItemName</td>
						<td>@x.Status</td>
						<td>@x.Quantity</td>
						<td>@x.ReturnableQuantity</td>
						<td>@x.ReturnNotedate</td>


					</tr>
			}
		</tbody>

	</table>




</div>






