@using ERP_Component_DAL.Models;


@{
    ViewBag.Title = "Stocks";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";
}

<link rel="stylesheet" href="~/css/Product.css">

 @model List<StockTransaction>
 <h2 class="mt-2 fs-3">Stock In</h2>
<div class="table">
    <table>
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Date</th>
                <th>Items</th>
                <th>Quantity</th>
                <th>Description</th>
            </tr>
        </thead>



        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model[i].TransactionDate.ToString("dd/MM/yyyy")</td>
                    <td>@Model[i].ItemName</td>
                    <td>@Model[i].Quantity</td>
                    <td>@Model[i].Reason</td>
                </tr>
            }
        </tbody>

    </table>
</div>
@* <script>

     function showSection(sectionId) {
        document.querySelectorAll('.container').forEach(el => el.style.display = 'none');
        document.getElementById(sectionId).style.display = 'block';
         getName();
    }
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>


    function getName() {
        $.ajax({
            type: "GET",
            url: "/Inventory/GetMaterialNamesFromItems",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                let dropdown = $("#name");
                dropdown.empty();
                dropdown.append('<option selected disabled>Select</option>');
                response.forEach(function (item) {
                    console.log("Each item:", item);
                $("#name").append('<option value = "' + item.itemId  + '">' + item.itemName + '</option>');
                });
            },

            error: function (xhr, status, error) {
                console.error("AJAX Error:", error);
            }
        });
    }
</script>




<script>
      function savedDetail(){
                Swal.fire({
      position: "center",
      icon: "success",
      title: "Your work has been saved",
      showConfirmButton: false,
      timer: 1500
    });
    }
</script> *@