@using ERP_Component_DAL.Models;
<link rel="stylesheet" href="~/css/Product.css" />

@model Category
<div class="container">


    <h2>Edit Category</h2>
    <form method="post" asp-action="EditSubCategory" asp-controller="Inventory">
        <div class="form">
            <div class="form-group">
                <label class="required">Category Name</label>
               <input value="@Model.categoryName" name="categoryName" readonly />
               <input value="@Model.SubCategoryId" name="SubCategoryId" hidden />
               
            </div>
            <div class="form-group">
                <label class="required">SubCategory Name</label>
                <input type="text"  name="subCategoryName" value="@Model.subCategoryName" placeholder="Enter Category Name" />
            </div>
            <div class="form-group">
                <label class="required">SubCategory Code</label>
                <input type="text" name="categoryCode" value="@Model.categoryCode" placeholder="Enter Category code" />
            </div>
            <div class="form-group">
                <label class="required">SubCategory Description</label>
                <textarea name="categoryDescription" value="@Model.categoryDescription" placeholder="Enter product Description"></textarea>

            </div>

            <div class="form-group">
                <label class="required">Is Active</label>
                <select value="@Model.isActive" name="isActive" required>
                    <option selected disabled>select</option>
                    <option>yes</option>
                    <option>NO</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
