@using ERP_Component_DAL.Models

<link rel="stylesheet" href="~/css/Product.css" />
@{
	ViewBag.Title = "Material Requisition";
	Layout = "~/Views/Shared/_LayoutINV.cshtml";
}
 @model List<AddPurchaseRequisition>
<div class="table">
	<table>
		<thead>
			<tr>
				<th>S.No.</th>
				<th>Date</th>
				<th>Req. Series</th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
		</thead>



		<tbody>
			@for (var i = 0; i < Model.Count; i++)
			{
				var x = Model[i];
				var index = i + 1;

				<tr>
					<td>@index</td>
					<td>@x.Date.ToShortDateString()</td>
					<td>@x.requisitionSeries</td>
					<td>@x.Descripion</td>
					<td>
						<div class="button">
						<button class=".btn-sm2" onclick="location.href='@Url.Action("ViewMaterialRequisitionItems","Inventory", new{requisitionId = x.RequisitionId}, null)'">View</button>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>