@using ERP_Component_DAL.Models
@{
    ViewBag.Title = "Stock Adjustments";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";

    }

    <link href="~/css/Product.css" rel="stylesheet" />
@model List<StockTransaction>

<div class="table">
    
    <table>
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Previous Quantity</th>
                <th>Adjusted Quantity</th>
                <th>New Quantity</th>
                <th>Reason</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
          @for(int i = 0; i<Model.Count;i++)
            {
                <tr>
                    <td>@Model[i].ItemName</td>
                    <td>@Model[i].DestinationDC</td>
                    <td>@Model[i].SourceDC</td>
                    <td>@Model[i].Quantity</td>
                    <td>@Model[i].Reason</td>
                    <td>@Model[i].TransactionDate.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
