@using ERP_Component_DAL.Models;


@{
    ViewBag.Title = "View Transfer Stock ";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";
}

    <link href="~/css/Product.css" rel="stylesheet" />
@model List<StockTransaction>

 
    @* <h4>View Transfered Stock</h4> *@
<div class="table">


    <table>
        <thead>
            <tr>
                <th>Transfer ID</th>
                <th>Item Name</th>
                <th>From Location</th>
                <th>To Location</th>
                <th>Quantity Transferred</th>
                <th>Transfer Date</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].TransactionID.ToString().Substring(Model[i].TransactionID.ToString().Length - 4)</td>
                    <td>@Model[i].ItemName</td>
                    <td>@Model[i].SourceDC</td>
                    <td>@Model[i].DestinationDC</td>
                    <td>@Model[i].Quantity</td>
                    <td>@Model[i].TransactionDate.ToString("yyyy-MM-dd")</td>
                    <td>@Model[i].Reason</td>
                </tr>
            }
        </tbody>
    </table>


</div>

<script>

    function openRejectModal(orderId) {

          console.log(orderId);
          const id = orderId;
          Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
          }).then((result) => {
            if (result.isConfirmed) {
              if (orderId) {

                let url = `/Inventory/DeleteStockTransfer?orderId=${id}`;

                console.log('Redirecting to', url);
                window.location.href = url;
              }
            }
          });

        }
</script>