@using ERP_Component_DAL.Models;
@{
    ViewBag.Title = "Production Order";
    Layout = "~/Views/Shared/_LayoutINV.cshtml";
}
@model AddPurchaseRequisition


@{
    bool insufficientMaterial = Model.listItesms.Any(m => m.requiredQuantity < m.availableQuantity);
}


<link rel="stylesheet" href="~/css/Product.css">
<div class="form-section">
    <h3>Production Order Details</h3>
    <div class="form-row">
        <label for="Description">Description :</label>
        <input type="text" id="Description" name="Description" value="@Model.Descripion" readonly />
        <label for="RequisitionSeries">Requisition Series:</label>
        <input type="text" id="" name="requisitionSeries" value="@Model.requisitionSeries" readonly />
        <input type="hidden" id="" name="RequisitionId" @* value="@Model[0].RequisitionId" *@ readonly />
    </div>
    <div class="form-row" style="width:50%">
        <label for="orderDate">Order Date:</label>
        <input type="text" id="orderDate" name="orderDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly />
    </div>

    <h2> Details </h2>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Material Name</th>
                    <th>Required</th>
                    <th>Available</th>
                </tr>
            </thead>



            <tbody>
                @for (var i = 0; i < Model.listItesms.Count; i++)
                {
                    var x = Model.listItesms[i];

                    <tr>
                        <td>@x.itemName</td>
                        <td>@x.requiredQuantity</td>
                        <td>@x.availableQuantity</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="button">
        @if (insufficientMaterial)
        {

            <button type="submit" onclick="location.href='@Url.Action("AllocateToProductionFromStoreSeven", "Inventory", new { requisitionId = Model.RequisitionId }, null)'">Allocate</button>

        }
        

    </div>
</div>

