@using ERP_Component_DAL.Models;
@{
	ViewBag.Title = "View Production Stages";
	Layout = "~/Views/Shared/_LayoutINV.cshtml";
}
<link rel="stylesheet" href="/css/Product.css" />


@model List<Items>

<div class="table">



	<table>
		<thead>
			<tr>
				<th>S.No.</th>
				<th>Product Name</th>
				<th>Category Name</th>
				
				<th>Specification</th>
				<th>Actions</th>
			</tr>
		</thead>



		<tbody id="geeks">


			@for (var i = 0; i < Model.Count; i++)
			{

				var x = Model[i];
				var index = i + 1;

				<tr id="row-@x.itemId">
					<td>@index</td>
					<td>@x.itemName</td>
					<td>@x.category</td>
					
					<td>@x.specification</td>

					
					<td>
						<div class="table-button">

							<button onclick="viewDetails('@x.itemId')">View</button>


						</div>
					</td>

				</tr>
			}
		</tbody>

	</table>




</div>




<div id="viewModal" style="display:none; position:fixed; top:10%; margin-left:45px;
     background:#fff; padding:20px; box-shadow:0 0 10px rgba(0,0,0,0.5); border-radius:10px; z-index:999; width:75%;">

	<div id="modalContent">
		<table>
			<thead>
				<tr>
					<th>S.No</th>
					<th>Stage Work</th>
					<th>Stage Time</th>
					
				</tr>
			</thead>
			<tbody id="TableBody">
			</tbody>
		</table>
	</div>
	
</div>

<div id="overlay" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%;
     background:rgba(0,0,0,0.5); z-index:998;" onclick="closeModal()"></div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
		function viewDetails(ItemId) {

		document.getElementById('viewModal').style.display = 'block';
		document.getElementById('overlay').style.display = 'block';


		let tableBody = document.getElementById("TableBody");
		tableBody.innerHTML = '<tr><td colspan="10">Loading...</td></tr>';


		$.ajax({
			type: 'POST',
			url: '/Production/ViewProductionItemsStages',
			data: { ItemId: ItemId },
			success: function (response) {
				console.log("Success:", response);

				let totalAmountSum = 0;
				tableBody.innerHTML = "";

				$(response.list).each(function (index, item) {
					var seq = index + 1;

					const tr = document.createElement("tr");
					tr.innerHTML = `
						<td>${seq}</td>
						<td>${item.stageWork}</td>
						<td>${item.stageTime}</td>
						
					`;
					tableBody.appendChild(tr);
				});
			},
			error: function (xhr, status, error) {
				console.error("Error:", error);
				tableBody.innerHTML = '<tr><td colspan="10">Error loading data.</td></tr>';
			}
		});
	}
	function closeModal() {
		document.getElementById('viewModal').style.display = 'none';
		document.getElementById('overlay').style.display = 'none';
	}
</script>


























