<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@((ViewData["Title"] ?? "Admin Dashboard") + " - Erp")</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Font Awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.19.1/dist/sweetalert2.all.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.19.1/dist/sweetalert2.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        

  
        #wrapper.toggled #sidebar-wrapper {
            display: none;
            transition: margin 0.3s ease;
        }

        #wrapper.toggled #page-content-wrapper {
            margin-left: 0 !important;
            transition: margin 0.3s ease;
        }

        #wrapper.toggled nav.navbar {
            left: 0 !important;
            /* transition: margin 0.3s ease; */
        }

    </style>



</head>
@{
    var Role = Context.Session.GetString("Role");

}
<body>
    <div class="d-flex" id="wrapper" >
        <!-- Sidebar -->
        @* <div class="border-right text-light" style="background-color:#a14040; min-height: 100vh;" id="sidebar-wrapper"> *@
        <div id="sidebar-wrapper"
             class="border-right text-light"
             style="background-color:#a14040; width: 250px; height: 100vh; position: fixed; top: 0; left: 0; overflow-y: auto;">
            <!-- Sidebar content -->

         @*   @if (Role == "Inventory")
            {*@
                <div class="sidebar-heading ">ERP</div>
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
               data-bs-toggle="collapse"
               href="#Inventory"
               role="button"
               aria-expanded="false"
               aria-controls="productDropdown"
               style="background-color:#a14040; color:white;">
                <span> <i class="fas fa-clipboard-list me-2"></i> Inventory Management</span>
                @* <i class="fas fa-chevron-down"></i> *@
            </a>

                <div id="Inventory" class="list-group list-group-flush collapse">
                   

                    <!-- Inventory Dashboard -->
                    <a href="@Url.Action("Dashboard", "Inventory")" class="list-group-item list-group-item-action" style="background-color:#a14040; color:white;">
                        <i class="fas fa-tachometer-alt me-2"></i> Inventory Dashboard
                    </a>

                    <!-- Warehouse -->
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse"
                    href="#warehoseDropdown"
                    role="button"
                    aria-expanded="false"
                    aria-controls="productDropdown"
                    style="background-color:#a14040; color:white;">
                        <span> <i class="fas fa-warehouse me-2"></i> Warehouse</span>
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="collapse" id="warehoseDropdown">
                        <a href="@Url.Action("Warehouses", "Inventory")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-plus-circle me-2"></i> Add Warehouse
                        </a>
                        <a href="@Url.Action("WarehouseView", "Inventory")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-eye me-2"></i> View Warehouse
                        </a>
                    </div>


                   

                    <!-- Products -->
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse"
                    href="#productDropdown"
                    role="button"
                    aria-expanded="false"
                    aria-controls="productDropdown"
                    style="background-color:#a14040; color:white;">
                        <span><i class="fas fa-box-open me-2"></i> Products</span>
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="collapse" id="productDropdown">
                        <a href="@Url.Action("Product", "Inventory")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-plus-circle me-2"></i> Add Products
                        </a>
                        <a href="@Url.Action("ViewProduct", "Inventory")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-eye me-2"></i> View Products
                        </a>
                    </div>


                    <!-- Material -->
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse"
                    href="#materialDropdown"
                    role="button"
                    aria-expanded="false"
                    aria-controls="productDropdown"
                    style="background-color:#a14040; color:white;">
                        <span><i class="fas fa-box-open me-2"></i> Raw Material</span>
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="collapse" id="materialDropdown">
                        <a href="@Url.Action("Material", "Inventory")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-plus-circle me-2"></i> Add Raw Material
                        </a>
                        <a href="@Url.Action("ViewMaterial", "Inventory")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-eye me-2"></i> View Products
                        </a>
                    </div>

                  
             

                    @* Category *@
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse"
                    href="#categoryDropdown"
                    role="button"
                    aria-expanded="false"
                    aria-controls="productDropdown"
                    style="background-color:#a14040; color:white;">
                        <span><i class="fas fa-box-open me-2"></i>Category</span>
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="collapse" id="categoryDropdown">
                        <a href="@Url.Action("Category", "Inventory")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-plus-circle me-2"></i> Add Category
                        </a>
                        <a href="@Url.Action("ViewCategory", "Inventory")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-eye me-2"></i> View Category
                        </a>
                       
                        
                       
                    </div>
                    <!-- SubCategory -->
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                       data-bs-toggle="collapse"
                       href="#subcategory"
                       role="button"
                       aria-expanded="false"
                       aria-controls="productDropdown"
                       style="background-color:#a14040; color:white;">
                        <span> <i class="fas fa-warehouse me-2"></i>SubCategory</span>
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="collapse" id="subcategory">
                        <a href="@Url.Action("SubCategory", "Inventory")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-plus-circle me-2"></i> Add SubCategory
                        </a>
                        <a href="@Url.Action("ViewSubCategory", "Inventory")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-eye me-2"></i> View SubCategory
                        </a>
                    </div>


                    
                    <!-- Stocks -->
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse"
                    href="#stockDropdown"
                    role="button"
                    aria-expanded="false"
                    aria-controls="stockDropdown"
                    style="background-color:#a14040; color:white;">
                        <span> <i class="fa-solid fa-boxes-stacked"></i>   Stocks</span>
                        <i class="fas fa-chevron-down"></i>
                    </a>

                   


                    <div class="collapse" id="stockDropdown">
                        <a href="@Url.Action("OpeningStockEntryForm", "Inventory")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-plus-square me-2"></i>Add Opening Stock
                        </a>
                        <a href="@Url.Action("AddStock", "Inventory")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-plus-square me-2"></i> Add Stock In
                        </a>
                        <a href="@Url.Action("ViewStock", "Inventory")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-eye me-2"></i> View Stock
                        </a>

                    </div>

                    <!-- Stock Adjustment -->
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse"
                    href="#adjustmentDropdown"
                    role="button"
                    aria-expanded="false"
                    aria-controls="adjustmentDropdown"
                    style="background-color:#a14040; color:white;">
                        <span><i class="fas fa-sliders-h me-2"></i> Stock Adjustment</span>
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="collapse" id="adjustmentDropdown">
                      @*   <a href="@Url.Action("StockAdjustment", "Inventory")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-edit me-2"></i> Stock Adjustment
                        </a> *@
                        <a href="@Url.Action("AddStockAdjustment", "Inventory")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-plus-circle me-2"></i> Add Adjustment
                        </a>
                    </div>

                    <!-- Stock Transfer -->
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse"
                    href="#transferDropdown"
                    role="button"
                    aria-expanded="false"
                    aria-controls="transferDropdown"
                    style="background-color:#a14040; color:white;">
                        <span><i class="fas fa-truck-moving me-2"></i> Stock Transfer</span>
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="collapse" id="transferDropdown">
                        <a href="@Url.Action("StockTransfer", "Inventory")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-plus me-2"></i> Add Transfer
                        </a>
                        <a href="@Url.Action("ViewStockTransfer", "Inventory")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-eye me-2"></i> View Transfer
                        </a>
                    </div>



                    <!-- Logout -->
                @*  <a asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action" style="background-color:#a14040; color:white;">
                            <i class="fas fa-sign-out-alt me-2"></i> Logout
                        </a>*@


                </div>
            @* } *@


            @* <---------------------------------------------------------Warehouse Management-----------------------------------------------------> *@

            @* else if (Role == "Warehouse") *@
            @* { *@

            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
               data-bs-toggle="collapse"
               href="#WareHouse"
               role="button"
               aria-expanded="false"
               aria-controls="productDropdown"
               style="background-color:#a14040; color:white;">
                <span> <i class="fas fa-warehouse me-2"></i>Warehouse Management</span></a>
                <div id="WareHouse" class="list-group list-group-flush collapse">
                   

                    <!-- Warehouse Dashboard -->
                    <a href="@Url.Action("Dashboard", "Warehouse")" class="list-group-item list-group-item-action" style="background-color:#a14040; color:white;">
                        <i class="fas fa-tachometer-alt me-2"></i> Warehouse Dashboard
                    </a>

                    <!-- Warehouse Location -->
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse"
                    href="#warehoseDropdown"
                    role="button"
                    aria-expanded="false"
                    aria-controls="productDropdown"
                    style="background-color:#a14040; color:white;">
                        <span> <i class="fas fa-warehouse me-2"></i> Warehouse Location</span>
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="collapse" id="warehoseDropdown">
                        <a href="@Url.Action("WarehouseLocation", "Warehouse")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-plus-circle me-2"></i> Add Warehouse Location
                        </a>
                        <a href="@Url.Action("WarehouseLocationView", "Warehouse")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-eye me-2"></i> View Warehouse
                        </a>
                    </div>





                    <!-- Stocks -->
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse"
                    href="#stockDropdown"
                    role="button"
                    aria-expanded="false"
                    aria-controls="stockDropdown"
                    style="background-color:#a14040; color:white;">
                        <span> <i class="fa-solid fa-boxes-stacked"></i>Stock Management</span>
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="collapse" id="stockDropdown">
                        <a href="@Url.Action("AddWarehouseStock", "Warehouse")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-plus-square me-2"></i>Add Stock
                        </a>
                        <a href="@Url.Action("WarehouseStockView", "Warehouse")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-plus-square me-2"></i>View Stock
                        </a>

                        <a href="@Url.Action("AddWarehouseStock", "Warehouse")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-plus-square me-2"></i> Add Stock In
                        </a>
                        <a href="@Url.Action("ViewStock", "Inventory")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-eye me-2"></i> View Stock
                        </a>

                    </div>

                    <!-- Stock Adjustment -->
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse"
                    href="#adjustmentDropdown"
                    role="button"
                    aria-expanded="false"
                    aria-controls="adjustmentDropdown"
                    style="background-color:#a14040; color:white;">
                        <span><i class="fas fa-sliders-h me-2"></i> Stock Adjustment</span>
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="collapse" id="adjustmentDropdown">
                        <a href="@Url.Action("StockAdjustment", "Inventory")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-edit me-2"></i> Stock Adjustment
                        </a>
                        <a href="@Url.Action("AddStockAdjustment", "Inventory")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-plus-circle me-2"></i> Add Adjustment
                        </a>
                    </div>

                    <!-- Stock Transfer -->
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse"
                    href="#transferDropdown"
                    role="button"
                    aria-expanded="false"
                    aria-controls="transferDropdown"
                    style="background-color:#a14040; color:white;">
                        <span><i class="fas fa-truck-moving me-2"></i> Stock Transfer</span>
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="collapse" id="transferDropdown">
                        <a href="@Url.Action("StockTransfer", "Inventory")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-plus me-2"></i> Add Transfer
                        </a>
                        <a href="@Url.Action("ViewStockTransfer", "Inventory")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-eye me-2"></i> View Transfer
                        </a>
                    </div>



                    <!-- Logout -->
                @*  <a asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action" style="background-color:#a14040; color:white;">
                            <i class="fas fa-sign-out-alt me-2"></i> Logout
                        </a>*@


                </div>

            @* } *@
            @*<----------------------------------------------------------Accounts----------------------------------------------------------------->*@
            @* else if (Role == "Accounts") *@
            @* { *@


            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
               data-bs-toggle="collapse"
               href="#Account"
               role="button"
               aria-expanded="false"
               aria-controls="productDropdown"
               style="background-color:#a14040; color:white;">
                <span> <i class="fas fa-user	 me-2"></i>Account Management</span>
            </a>
                <div id="Account" class="list-group list-group-flush collapse">


                    <!-- Warehouse Dashboard -->
                    <a href="@Url.Action("Dashboard", "Account")" class="list-group-item list-group-item-action" style="background-color:#a14040; color:white;">
                        <i class="fas fa-tachometer-alt me-2"></i> Account Dashboard
                    </a>

                    <!-- Warehouse Location -->
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                       data-bs-toggle="collapse"
                       href="#AccountDropdown"
                       role="button"
                       aria-expanded="false"
                       aria-controls="AccountDropdown"
                       style="background-color:#a14040; color:white;">
                        <span> <i class="fas 	fa-university me-2"></i>Accounts</span>
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="collapse" id="AccountDropdown">
                        <a asp-controller="Account" asp-action="Make_Payment" class="list-group-item list-group-item-action text-light " style="background-color:#138496">
                            <i class="fas 	fa-credit-card me-2"></i>Make_Payment
                        </a>
                        <a asp-controller="Account" asp-action="Receive_Payment" class="list-group-item list-group-item-action text-light " style="background-color:#138496">
                            <i class="fas 	fa-money-bill me-2"></i>Receive_Payment
                        </a>
                        <a asp-controller="Account" asp-action="JournalEntry" class="list-group-item list-group-item-action text-light " style="background-color:#138496">
                            <i class="fas 	fa-book me-2"></i>Journal Entry
                        </a>
                        <a asp-controller="Account" asp-action="Expense" class="list-group-item list-group-item-action text-light " style="background-color:#138496">
                            <i class="fas fa-money-bill-wave me-2"></i>Expense Entry
                        </a>
                        <a asp-controller="Account" asp-action="Chartofaccount" class="list-group-item list-group-item-action text-light " style="background-color:#138496">
                            <i class="fas fa-chart-line me-2"></i>Chart of Account
                        </a>
                    </div>
                      @*  <a asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action" style="background-color:#a14040; color:white;">
                            <i class="fas fa-sign-out-alt me-2"></i> Logout
                        </a>*@
                </div>

            @* } *@
            @* <--------------------------------------------------------- Asset Management -----------------------------------------------------> *@
            @* else if (Role == "Asset") *@
            @* { *@
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
               data-bs-toggle="collapse"
               href="#Assets"
               role="button"
               aria-expanded="false"
               aria-controls="productDropdown"
               style="background-color:#a14040; color:white;">
                <span> <i class="fas fa-building me-2"></i>Asset Management</span>
            </a>
                <div id="Assets" class="list-group list-group-flush collapse">

              
                <!-- Asset Dashboard -->
                <a href="@Url.Action("Dashboard", "Asset")" class="list-group-item list-group-item-action" style="background-color:#a14040; color:white;">
                    <i class="fas fa-tachometer-alt me-2"></i> Asset Dashboard
                    </a> <a href="@Url.Action("DepreciationTracking", "Asset")" class="list-group-item list-group-item-action" style="background-color:#a14040; color:white;">
                    <i class="fas fa-tachometer-alt me-2"></i> Depreciation Tracker
                </a>
                    
                <!-- Asset -->
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                   data-bs-toggle="collapse"
                   href="#warehoseDropdown"
                   role="button"
                   aria-expanded="false"
                   aria-controls="productDropdown"
                   style="background-color:#a14040; color:white;">
                    <span> <i class="fas fa-warehouse me-2"></i>Add Asset</span>
                    <i class="fas fa-chevron-down"></i>
                </a>
                <div class="collapse" id="warehoseDropdown">
                        <a href="@Url.Action("AddAsset", "Asset")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                        <i class="fas fa-plus-circle me-2"></i> Add Asset
                    </a>
                    <a href="@Url.Action("AssetView", "Asset")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                        <i class="fas fa-eye me-2"></i> View Asset
                    </a>
                </div>



                <!-- Category -->
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                   data-bs-toggle="collapse"
                   href="#stockDropdown"
                   role="button"
                   aria-expanded="false"
                   aria-controls="stockDropdown"
                   style="background-color:#a14040; color:white;">
                    <span> <i class="fa-solid fa-boxes-stacked"></i>Add Category</span>
                    <i class="fas fa-chevron-down"></i>
                </a>
                <div class="collapse" id="stockDropdown">
                    <a href="@Url.Action("Category", "Asset")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                        <i class="fas fa-plus-square me-2"></i> Add Category
                    </a>
                    <a href="@Url.Action("ViewCategory", "Asset")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                        <i class="fas fa-plus-square me-2"></i>View Category
                    </a>

                </div>



                <!-- Asset Listing -->
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                   data-bs-toggle="collapse"
                   href="#adjustmentDropdown"
                   role="button"
                   aria-expanded="false"
                   aria-controls="adjustmentDropdown"
                   style="background-color:#a14040; color:white;">
                    <span><i class="fas fa-sliders-h me-2"></i>Asset Listing</span>
                    <i class="fas fa-chevron-down"></i>
                </a>
                <div class="collapse" id="adjustmentDropdown">
                        <a href="@Url.Action("AssetListing", "Asset")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                        <i class="fas fa-edit me-2"></i> List Asset
                    </a>
                        <a href="@Url.Action("ViewAssetAssign", "Asset")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                        <i class="fas fa-plus-circle me-2"></i> View Assign Asset
                    </a>
                </div>

                <!-- Asset Maintenance -->
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                   data-bs-toggle="collapse"
                   href="#transferDropdown"
                   role="button"
                   aria-expanded="false"
                   aria-controls="transferDropdown"
                   style="background-color:#a14040; color:white;">
                    <span><i class="fas fa-truck-moving me-2"></i>Asset Maintenance</span>
                    <i class="fas fa-chevron-down"></i>
                </a>
                <div class="collapse" id="transferDropdown">
                        <a href="@Url.Action("AssetMaintenance", "Asset")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                        <i class="fas fa-plus me-2"></i> Add Asset Maintenance
                    </a>
                        <a href="@Url.Action("AssetMaintenanceView", "Asset")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                        <i class="fas fa-eye me-2"></i> View Maintenance
                    </a>
                </div>

                    <!-- Asset Transfer -->
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                       data-bs-toggle="collapse"
                       href="#assetTransferDropdown"
                       role="button"
                       aria-expanded="false"
                       aria-controls="transferDropdown"
                       style="background-color:#a14040; color:white;">
                        <span><i class="fas fa-truck-moving me-2"></i>Asset Transfer</span>
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="collapse" id="assetTransferDropdown">
                        <a href="@Url.Action("AssetTransfer", "Asset")" class="list-group-item list-group-item-action ps-5" style="background-color:#c34949; color:white;">
                            <i class="fas fa-plus me-2"></i> Add Transfer
                        </a>
                   
                    </div>

                <!-- Logout -->
                @*  <a asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action" style="background-color:#a14040; color:white;">
                            <i class="fas fa-sign-out-alt me-2"></i> Logout
                        </a>*@


            </div>

            @* } *@

            @* <------------------------------------------------------------ Sales Management -------------------------------------------------------------> *@
            @* else if (Role == "Sales") *@
            @* { *@
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
               data-bs-toggle="collapse"
               href="#Sales"
               role="button"
               aria-expanded="false"
               aria-controls="productDropdown"
               style="background-color:#a14040; color:white;">
                <span> <i class="fas 	fa-shopping-cart me-2"></i>Sales Management</span>
            </a>
                <div id="Sales" class="list-group list-group-flush collapse">


                    <!-- Asset Dashboard -->
                    <a href="@Url.Action("Dashboard", "Sales")" class="list-group-item list-group-item-action" style="background-color:#a14040; color:white;">
                        <i class="fas fa-tachometer-alt me-2"></i> Sales Dashboard
                    </a>
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                   data-bs-toggle="collapse"
                   href="#collapseCustomer"
                   role="button"
                   aria-expanded="false"
                   aria-controls="productDropdown"
                   style="background-color:#a14040; color:white;">
                    <span> <i class="fas 	fa-shopping-cart me-2"></i>Sales</span>
                    <i class="fas fa-chevron-down"></i>
                </a>
                <div id="collapseCustomer" class="accordion-collapse collapse" aria-labelledby="headingCustomer" data-bs-parent="#customerAccordion">
                    <div class="accordion-body p-0 ">
                        <a asp-controller="Sales" asp-action="ManageQuotation" class="list-group-item list-group-item-action text-light " style="background-color:#138496">
                            <i class="fas fa-file-invoice-dollar me-2"></i>Quotation
                        </a>
                        <a asp-controller="Sales" asp-action="ManageInvoice" class="list-group-item list-group-item-action text-light " style="background-color:#138496">
                            <i class="fas fa-receipt me-2"></i>Invoice
                        </a>
                        <a asp-controller="Sales" asp-action="ManageProformaInvoice" class="list-group-item list-group-item-action text-light " style="background-color:#138496">
                            <i class="fas fa-file-invoice me-2"></i>Proforma Invoice
                        </a>
                        <a asp-controller="Sales" asp-action="ManageCreditNote" class="list-group-item list-group-item-action text-light " style="background-color:#138496">
                            <i class="fas fa-receipt me-2"></i>Credit Note
                        </a>

                        <a asp-controller="Sales" asp-action="ReturnNote" class="list-group-item list-group-item-action text-light " style="background-color:#138496">
                            <i class="fas fa-undo-alt me-2"></i>Return Note
                        </a>
                        <a asp-controller="Sales" asp-action="ManageDeliveryChallan" class="list-group-item list-group-item-action text-light " style="background-color:#138496">
                            <i class="fas fa-truck me-2"></i>Delivery Challan
                        </a>
                        <a asp-controller="Sales" asp-action="CustomerHistory" class="list-group-item list-group-item-action text-light " style="background-color:#138496">
                            <i class="fas fa-chart-line me-2"></i> Customer History
                        </a>


                     
                    </div>
                </div>


            </div>
            <!--------------------------------------------------------------Purchase management------------------------------------------------------------------->



            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
               data-bs-toggle="collapse"
               href="#Purchase"
               role="button"
               aria-expanded="false"
               aria-controls="productDropdown"
               style="background-color:#a14040; color:white;">
                <span> <i class="fas 	fa-shopping-cart me-2"></i>Purchase Management</span>
            </a>
            <div id="Purchase" class="list-group list-group-flush collapse">


                <!-- Asset Dashboard -->
                <a href="@Url.Action("Dashboard", "Purchase")" class="list-group-item list-group-item-action" style="background-color:#a14040; color:white;">
                    <i class="fas fa-tachometer-alt me-2"></i> Purchase Dashboard
                </a>
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                   data-bs-toggle="collapse"
                   href="#collapseCustomer"
                   role="button"
                   aria-expanded="false"
                   aria-controls="productDropdown"
                   style="background-color:#a14040; color:white;">
                    <span> <i class="fas 	fa-shopping-cart me-2"></i>Purchase</span>
                    <i class="fas fa-chevron-down"></i>
                </a>
                <div id="collapseCustomer" class="accordion-collapse collapse" aria-labelledby="headingCustomer" data-bs-parent="#customerAccordion">
                    <div class="accordion-body p-0 ">

                        <a asp-controller="Purchase" asp-action="AddPurchaseReq" class="list-group-item list-group-item-action text-light " style="background-color:#138496">
                            <i class="fas fa-receipt me-2"></i>Add Purchase Requisition
                        </a>

                        <a asp-controller="Purchase" asp-action="ViewRequisition" class="list-group-item list-group-item-action text-light " style="background-color:#138496">
                            <i class="fas fa-tachometer-alt me-2"></i>View Requisition
                        </a>


                        <a asp-controller="Purchase" asp-action="PurchaseOrder" class="list-group-item list-group-item-action text-light " style="background-color:#138496">
                            <i class="fas fa-shopping-cart me-2"></i>Purchase Order
                        </a>

                        <a asp-controller="Purchase" asp-action="PurchaseInvoice" class="list-group-item list-group-item-action text-light " style="background-color:#138496">
                            <i class="fas fa-receipt me-2"></i> Purchase Invoice
                        </a>

                        <a asp-controller="Purchase" asp-action="VendorQuotation" class="list-group-item list-group-item-action text-light " style="background-color:#138496">
                            <i class="fas fa-receipt me-2"></i> Vendor Quotation
                        </a>

                        <a asp-controller="Purchase" asp-action="VendorApproval" class="list-group-item list-group-item-action text-light " style="background-color:#138496">
                            <i class="fas fa-tachometer-alt me-2"></i>Vendor Approval
                        </a>
                     


                        <a asp-controller="" asp-action="" class="list-group-item list-group-item-action text-light " style="background-color:#138496">
                            <i class="fas fa-receipt me-2"></i>Debit Note
                        </a>

                    </div>
                </div>


            </div>

                    <!-- Logout -->
                @*  <a asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action" style="background-color:#a14040; color:white;">
                            <i class="fas fa-sign-out-alt me-2"></i> Logout
                        </a>*@


                </div>

            @* } *@
        </div>

        <!-- Page Content -->
        @* <div id="page-content-wrapper" > *@
        <div id="page-content-wrapper" class="flex-grow-1"
             style="margin-left: 250px; transition: margin-left 0.3s ease;">

            <!-- Header -->
            <nav class="navbar navbar-expand-lg border-bottom"
                 style="background:#e7e7e7; position: fixed; top: 0; left: 250px; right: 0; height: 60px; z-index: 1000; transition: left 0.3s ease;">
            @* <nav class="navbar navbar-expand-lg border-bottom" style="background:#e7e7e7; box-shadow: 0 0 10px rgba(0,0,0,0.1);"> *@
                <div class="container-fluid">
                    <button class="btn" style="color:white; background:#a14040;" id="menu-toggle">
                        <i class="fa-duotone fa-solid fa-bars"></i>
                    </button>


                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li>
                                <a href="@Url.Action("InventoryDashboard", "Inventory")" class="list-group-item list-group-item-action" style="background-color:#e7e7e7; color:#a14040;">
                                    <i class="fas fa-home me-2"></i>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Warehouses", "Inventory")" class="list-group-item list-group-item-action" style="background-color:#e7e7e7; color:#a14040;">
                                <i class="fas fa-warehouse me-2"></i> 
                            </a>
                            </li>
                            @* <li class="nav-item dropdown"> *@
                            @*     <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" *@
                            @*        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> *@
                            @*         Dropdown *@
                            @*     </a> *@
                                @* <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"> *@
                                @*     <a class="dropdown-item" href="#">Action</a> *@
                                @*     <a class="dropdown-item" href="#">Another action</a> *@
                                @*     <div class="dropdown-divider"></div> *@
                                @*     <a class="dropdown-item" href="#">Something else here</a> *@
                                @* </div> *@
                            @* </li> *@
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- Razor Body Section -->
            @* <div> *@

            <div style="padding-top: 60px; height: 100vh; overflow-y: auto;">
                <main role="main" class="pb-3">
                   

                    @RenderBody()
                </main>
            </div>
        </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Sidebar Toggle Script -->
  
</body>
</html>

@* <script>
    $(document).ready(function () {
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("toggled");
        });
    });
</script> *@

<script>
    document.getElementById("menu-toggle").addEventListener("click", function () {
      document.getElementById("wrapper").classList.toggle("toggled");
    });
</script>
